@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: black;
  margin: 0;
}

.container {
  width: 80%;
  margin-left: 10%;
}

.picture {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.nav-bar {
  background-color: grey;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 30px;
}

.nav-bar > a {
  margin: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: white;
}
